








@import url('https://fonts.googleapis.com/css2?family=Muli:wght@300;400&display=swap');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    --webkit-font-smoothing: antialiased;
}

body {
    font-family: 'Muli', sans-serif;
    min-height: 100vh;
    background: rgb(0 0 0 / 53%);
}
.container {
    width: 1152px;
    max-width: 90%;
    margin: 0 auto;
}
nav {
    /* background: #553C9A; */
    /* background: rgb(51 50 53); */
    background: rgb(0 0 0);
    color: #fff;
    padding: 1rem 0;
}
section.input {
    padding-top: 100px;
}
h2 {
    text-align: center;
    color: rgb(51 50 53);
    font-size: 36px;
}
.slang{
  color: rgb(33 33 33 / 48%);
}

.form_wrap {
    display: flex;
    justify-content: center;
}
.input_wrap {
    display: flex;
    align-items: center;
    border: 1px solid #ddd;
    margin-top: 20px;
}

input {
    border: none;
    padding: 10px;
    font-size: 16px;
    min-width: 400px;
    outline: none;
}
button{
    /* background:#553C9A; */
    background: rgb(51 50 53);
    color: #fff;
    height: 100%;
    font-size: 16px;
    padding: 0 20px;
    cursor: pointer;
}
section.data{
    max-width: 600px;
    margin: 0 auto;
    margin-top: 20px;
    text-align: center;
}
.loading {
    display: none;
}

section.data p.def {
  font-size: 24px;
  /* color: rgb(45 55 72); */
  color: rgb(242 223 83);
  line-height: 1.6;
  margin-top: -273px;
  margin-left: -61px;
}

body > section.data.container > div.not_found{
  margin-top: -313px;
}
body > section.data.container > div.not_found > h3{
  padding: 15px;
  color: rgb(51 50 53);
}
.suggested {
  background: rgb(51 50 53);
    color: rgb(98 188 202);
    padding: 2px 10px;
    border-radius: 4px;
    margin-right: 10px;
    margin-top: 5px;
    display: inline-block;
}
.audio {
    margin-top: 20px;
}

/* .logo{
 
}

.logo img{
  
} */

.pict{
  margin-top: -493px;
    margin-left: 76px;
}

.pict img{
  width: 8%;
}

body > section.data.container{
  margin-left: 240px;
}

body > section.input.container{
  margin-left: -67px;
}

body > section.data.container > div.aside > img{
  width: 491px;
}
body > section.data.container > div.aside{
  margin: -221px 0px -1px 707px;
}

body > img{
  margin-top: -70px;
    width: 124px;
    margin-left: 62px;
}